# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media

# Environment variables
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# VS Code
.vscode/
*.code-workspace

# PyCharm
.idea/

# Secret keys
*.pem
*.key

# Database
*.sqlite3

# Migrations
# chatbot/migrations/  # Uncomment if you want to exclude migrations

# Static files
staticfiles/

# Development & production files
*.swp
.DS_Store